@model BlogPl.Models.BlogWithCommentsViewModel


@{
    ViewBag.Title = "Details";
}
<html>
<head>
    <link href="~/Content/Global.css" rel="stylesheet" />
    <style>
       
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h3><span>@Model.Blog.title</span> / <a href="/">Home</a></h3>
            </div>
        </div>
    </div>
   
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="height:fit-content !important">
                    <div class="new-row" style="height:fit-content !important">

                        @{
                            // Get the string value from the model
                            string NewimageUrlsString = Model.Blog.imagesUrl;

                            // Split the string into a list of image URLs
                            List<string> NewimageUrlsList = new List<string>();
                            if (!string.IsNullOrEmpty(NewimageUrlsString))
                            {
                                NewimageUrlsList = NewimageUrlsString.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).ToList();
                            }
                        }

                        @if (NewimageUrlsList.Any())
                        {
                            <div class="img-box2">
                                @foreach (string url in NewimageUrlsList)
                                {
                                    <img class="" src="@url" alt="image" />
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-8 container bg-light">
                    <div class="new-row">
                        <div class="container">
                            <h1>@Model.Blog.title <div class="underline"></div></h1>
                            <p>@Model.Blog.description</p>
                            <p>By <a>#@Model.Blog.owner</a></p>

                            <h3>Comments/Replies <div class="underline"></div></h3>
                            @if (Model.Comments.Any())
                            {
                                <div>
                                    @foreach (var comment in Model.Comments)
                                    {
                                        <div class="comment-box">
                                            <p><a>#@comment.created_by</a></p>
                                            <p>@comment.description</p>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>No comment or replies on <a>@Model.Blog.title</a></p>
                            }
                            <p style="margin-top:20px"></p>
                            <div class="create-comment container">
                                @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    // form elements go here
                                    <input type="hidden" name="blog_id" value="@Model.Blog.id" id="blogId" />
                                    <div class="form-group">
                                        <label for="">Your Name or Email</label>
                                        <input class="form-control btn-block" required name="created_by" placeholder="Your name or email" id="" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea">Your Comment or Reply</label>
                                        <textarea class="form-control btn-block" required name="description" id="exampleTextarea" placeholder="Your comment or reply" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="">
                                            <button type="submit" class="btn btn-primary">Submit Your Comment/Reply</button>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

